/OracleFMWInfrastructure/dockerfiles/12.2.1.3/fmw_12.2.1.3.0_infrastructure_Disk1_1of1.zip
/OracleJava/java-8/jdk-8u241-linux-x64.tar.gz
/OracleFMWInfrastructure/dockerfiles/12.2.1.4/fmw_12.2.1.4.0_infrastructure_Disk1_1of1.zip
/OracleFormsReports/dockerfiles/12.2.1.4/fmw_12.2.1.4.0_fr_linux64.bin
/OracleFormsReports/dockerfiles/12.2.1.4/fmw_12.2.1.4.0_fr_linux64-2.zip
